name: Build and Push Docker Image

on:
  push:
    tags:
      - "*" 
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: DOCKERHUB_USERNAME

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./agent/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/kuberpulse-agent:${{ github.ref_name }}
            ${{ secrets.DOCKERHUB_USERNAME }}/kuberpulse-agent:latest
